<div id="inst12488" class="block_culupcoming_events  block" role="complementary" data-block="culupcoming_events" data-instanceid="12488" aria-labelledby="instance-12488-header">
    <div class="header">
        <div class="title" id="yui_3_17_2_1_1523604483724_615">
            <div class="block_action">
                <img class="block-hider-hide" alt="Hide Upcoming events block" src="https://moodle.city.ac.uk/theme/image.php/cul/core/1523340764/t/switch_minus" tabindex="0" title="Hide Upcoming events block">
                <img class="block-hider-show" alt="Show Upcoming events block" src="https://moodle.city.ac.uk/theme/image.php/cul/core/1523340764/t/switch_plus" tabindex="0" title="Show Upcoming events block">
            </div>
            <h2 id="instance-12488-header">Upcoming events
                <div class="reload" style="display: inline-block;">
                    <a class="block_culupcoming_events_reload" href="https://moodle.city.ac.uk/my/index.php">
                        <img class="smallicon" alt="" src="https://moodle.city.ac.uk/theme/image.php/cul/core/1523340764/i/reload">
                    </a>
                    <span class="block_culupcoming_events_loading">
                        <img class="smallicon" alt="" src="https://moodle.city.ac.uk/theme/image.php/cul/core/1523340764/i/loading_small">
                    </span>
                </div>
            </h2>
        </div>
    </div>
    <div class="content">
        <div id="culupcoming_events5ad05c0107b13351" class="culupcoming_events">
            <ul>
                <li id="1290880_1523624400">
                    <div class="clearfix notifictionitem">
                        <div class="avatar">
                            <a href="https://moodle.city.ac.uk/course/view.php?id=26247">
                                <img src="https://secure.gravatar.com/avatar/3ccc19f3ced8258a095cec03bd1507c8?s=35&amp;d=identicon" alt="Picture of MS2103_PRD2_A_2017-18" title="Picture of MS2103_PRD2_A_2017-18" class="coursepicture">
                            </a>
                        </div>
                        <div class="notificationtext">
                            <span>
                                Week 9 - Short MCQ Quiz - BUS in MS2103_PRD2_A_2017-18 on Friday, 13 Apr,  2:00 PM
                            </span>
                        </div>
                        <div class="activityicon">
                            <img src="https://moodle.city.ac.uk/theme/image.php/cul/quiz/1523340764/icon" alt="Not answered" title="Quiz" class="icon">
                        </div>
                    </div>
                    <div class="meta">
                        <div class="timeuntil">
                            <span>in about 5 hours</span>
                        </div>
                        <div class="contexturls">
                            <a href="https://moodle.city.ac.uk/calendar/view.php?view=day&amp;course=1&amp;time=1523574000#event_1290880">
                                Visit
                            </a>
                        </div>
                    </div>
                </li>
                <hr>
            </ul>
        </div>
        <div class="pages">
            <a href="https://moodle.city.ac.uk/my/index.php?block_culupcoming_events_page=2">
                Later
            </a>
        </div>
        <div class="footer">
            <div>
                <a href="https://moodle.city.ac.uk/calendar/view.php?view=upcoming&amp;course=1">
                    <img class="iconsmall" alt="" src="https://moodle.city.ac.uk/theme/image.php/cul/core/1523340764/i/calendar">
                    Go to calendar...
                </a>
            </div>
            <div>
            <a href="https://moodle.city.ac.uk/calendar/event.php?action=new&amp;course=1">
                <img class="iconsmall" alt="" src="https://moodle.city.ac.uk/theme/image.php/cul/core/1523340764/t/add">
                New event...
            </a>
            </div>
        </div>
    </div>
</div>


<div class="event" data-eventtype-user="1" data-region="event-item">
                    <span><i class="icon fa fa-user fa-fw " aria-hidden="true" title="User event" aria-label="User event"></i></span>
                    <a data-type="event" data-action="view-event" data-event-id="107" href="http://moodle2xgit.localhost/calendar/view.php?view=day&amp;course=1&amp;time=1523684700#event_107">New Event</a>
                    <div class="date"><a href="http://moodle2xgit.localhost/calendar/view.php?view=day&amp;time=1523684700">Tomorrow</a>, 6:45 AM</div>
                    <hr>
                    
                    <li id="1290880_1523624400">
                        <div class="clearfix notifictionitem">
                            <div class="avatar">
                                <a href="https://moodle.city.ac.uk/course/view.php?id=26247">
                                    <img src="https://secure.gravatar.com/avatar/3ccc19f3ced8258a095cec03bd1507c8?s=35&amp;d=identicon" alt="Picture of MS2103_PRD2_A_2017-18" title="Picture of MS2103_PRD2_A_2017-18" class="coursepicture">
                                </a>
                            </div>
                            <div class="notificationtext">
                                <span>
                                    Week 9 - Short MCQ Quiz - BUS in MS2103_PRD2_A_2017-18 on Friday, 13 Apr,  2:00 PM
                                </span>
                            </div>
                            <div class="activityicon">
                                <img src="https://moodle.city.ac.uk/theme/image.php/cul/quiz/1523340764/icon" alt="Not answered" title="Quiz" class="icon">
                            </div>
                        </div>
                        <div class="meta">
                            <div class="timeuntil">
                                <span>in about 5 hours</span>
                            </div>
                            <div class="contexturls">
                                <a href="https://moodle.city.ac.uk/calendar/view.php?view=day&amp;course=1&amp;time=1523574000#event_1290880">
                                    Visit
                                </a>
                            </div>
                        </div>
                    </li>
                </div>